@font-face{
	font-family: Light;
	src: url("../fonts/Roboto-Light.ttf");
}
body, html { font-size: 100%; padding: 0; margin: 0;}
/* Reset */
*,
*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* General styles for all menus */
.cbp-spmenu {
	background: #4e8998;
	position: fixed;
	font-size: 0.7em;
	text-align: center;
	text-transform: uppercase;
}
.cbp-spmenu a:first-of-type > img{
	padding: 2.5em 0;
}
.cbp-spmenu div.nav > a {
	display: block;
	color: #fff;
	width:100%;
}
.cbp-spmenu div.nav > a:hover {
	background: #264c56;
	color: #fff;
	text-decoration: none;
}
.cbp-spmenu div.nav > a:active {
	background: #264c56;
	color: #ffffff;
}
.cbp-spmenu input {
	display: block;
    margin: 2em auto;
    background: #264c56;
    text-transform: uppercase;
    padding: 5px 20px 5px 5px;
    width: 80%;
    border: 1px solid #fff;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
}
.contacts, .contacts a, .contacts a:hover{
	color: #b3d1d4;
}
.shedule img{
	padding-top: 5px;
}
.shedule img, .shedule p{
	margin-bottom: 15px;
	font-size: 1.3em;
	color: #b3d1d4;
}
.shedule p:nth-of-type(2){
	text-decoration: underline;
	font-size: 1.7em;
}
.shedule p:last-of-type{
	font-size: 2em;
	font-weight:bold;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 270px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-vertical a {
	padding: 1em;
}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -270px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 270px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #fff !important;
}
.hamburger {
	position: fixed;
    padding: 25px !important;
}
.cbp-spmenu {
    position: absolute !important;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: -270px !important;
    height: 100% !important;
}
main{
	background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#peopleImg{
	width: 125%;
    padding-top: 16%;
    position: relative;
    left: -60px;
}
ul.menuItem li{
	display: inline-block;
    position: relative;
    top: -10px;
    padding-top: 50px;    
	text-align: center;
	padding: 0 0.5em;
	margin-bottom: 2rem;
}
ul.menuItem li:not(:last-of-type){
    border-right: 1px white solid;	
}
ul.menuItem li > a, ul.menuItem li > a:hover{
	color: white;
}
ul.menuItem li a > img {
	padding-top: 100px;
	padding-bottom: 20px;
}
.carousel-inner div > img{
	margin: 0 auto;
}
.carousel-control {
	top: initial !important;
	opacity: 1 !important;
	background: none !important;
	bottom: 200px !important;
    width: 55% !important;
}
.carousel-indicators {
    bottom: 200px !important;
    left: 60% !important;
    width: 30% !important;
    margin-left: -25% !important;
}
.carousel-indicators li {
    width: 20px !important;
    height: 20px !important;
}
.carousel-caption{
	max-width: 90% !important;
    margin: 0 auto !important;
}
.advantages{
	margin-top: 70px;
	margin-left: 45px;
	background: #ffffff;
} 
.advantages p{
	margin-bottom: 0 !important;
}
.advantages h2{
	font-weight: bold;
}
.advantages span{
	position: absolute;
    right: 0;
    bottom: 0px;
    margin: 15px 0px 15px 15px;
}
/* Example media queries */
@media screen and (max-width: 55.1875em){
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}
	.cbp-spmenu-top {
		top: -110px;
	}
	.cbp-spmenu-bottom {
		bottom: -110px;
	}
}
/*@media screen and (max-height: 26.375em){
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}
	.cbp-spmenu-push-toright {
		left: 190px;
	}
}