@font-face{
	font-family: Light;
	src: url("../fonts/Roboto-Light.ttf");
}
body, html { font-size: 100%; padding: 0; margin: 0;}
/* Reset */
*,
*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
a {
	text-decoration: none;
}
a:hover {
	color: #000;
}
/* Media for Welcome page */
@media (max-width: 560px){
}
/* General styles for all menus */
.cbp-spmenu {
	background: #4e8998;
	position: fixed;
}
.cbp-spmenu a {
	display: block;
	color: #fff;
	width:100%;
	font-size: 0.8em;
	text-align: center;
}
.cbp-spmenu a:hover {
	background: #264c56;
	color: #fff;
}
.cbp-spmenu a:active {
	background: #264c56;
	color: #ffffff;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 270px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-vertical a {
	padding: 0.5em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -270px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 270px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em){
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}
	.cbp-spmenu-top {
		top: -110px;
	}
	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}
/*@media screen and (max-height: 26.375em){
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}
	.cbp-spmenu-push-toright {
		left: 190px;
	}
}